<?xml version='1.0' encoding='utf-8'?>
<widget id="example.tabrisPractice" version="0.1.0">
  <name>tabrisPractice</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="bmcgrane302@yahoo.com">
    bmcgrane302
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
